@model AILibrary.Models.Books.BookCopy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookCopy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Possesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Possesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentlyPossesdByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentlyPossesdByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountOfPages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountOfPages)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
