@model IEnumerable<AILibrary.Models.Books.BookCopy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Find by possesor name:</td>
            <td>@Html.TextBox("possesorNameSearchString")</td>
        </tr>
        <tr>
            <td>Find by borrower name:</td>
            <td> @Html.TextBox("currentlyNameSearchString")</td>
        </tr>
        <tr>
            <td> Find by author name:</td>
            <td> @Html.TextBox("nameSearchString")</td>
        </tr>
        <tr>
            <td>Find by title:</td>
            <td> @Html.TextBox("titleSearchString")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Search" /></td>
        </tr>

</table>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Possesor).ToString(), "Index", new { sortOrder = ViewBag.PossesorSortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.CurrentlyPossesdByUser).ToString(), "Index", new { sortOrder = ViewBag.CurrentlyPossesed })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Book.AuthorName).ToString(), "Index", new { sortOrder = ViewBag.AuthorSortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Book.Title).ToString(), "Index", new { sortOrder = ViewBag.TitleSortParam })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.AmountOfPages).ToString(), "Index", new { sortOrder = ViewBag.PagesSortParam })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Possesor.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentlyPossesdByUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfPages)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
