@model IEnumerable<AILibrary.Models.Permissions.Permission>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td> Find by mail:</td>
            <td> @Html.TextBox("emailSearchString")</td>
        </tr>
        <tr>
            <td><input type="submit" value="Search" /></td>
        </tr>

    </table>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.User.Email).ToString(), "Index", new { sortOrder = ViewBag.MailSortParam })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
